<!doctype html>
<html>
<body>
<h1>Word processor compatible templating system</h1>

<p>
    This software allows clients to use office suite documents for templating automated document generation.
</p>

<h2>Template Syntax</h2>

<p>Template files may contain the following expressions.</p>

<section>
    <h3>Value substitution</h3>

    <p>Used to display value from the template data object.</p>
    <b>Examples:</b>
    <ul>
        <li>Show value under a given key: <kbd>{%=key_name%}</kbd></li>
        <li>Show value under a given key in a map under a given key: <kbd>{%=outer_key.inner_key %}</kbd></li>
    </ul>
</section>
<section>
    <h3>Conditional blocks</h3>
    <p>
        Put a value between conditional blocks to toggle its visibility depending on a value in the data object.
    </p>
    <b>Examples:</b>
    <ul>
        <li>if-then branching: <kbd>{%if condition %}THEN part comes here {%end%}</kbd></li>
        <li>if-then-else branching: <kbd>{%if condition %}THEN part comes here {%else%} else part comes
            here{%end%}</kbd></li>
    </ul>
</section>
<section>
    <h3>Repeating blocks</h3>
    <p>Repeat a block for each item in a list in the data object.</p>
</section>
<section>
    <h3>Function calls and arithmetic</h3>
    <p>You can all functions in expressions</p>
    <p>You can also call many arithmetic operators. For example the following is valid: <kbd>{%= x*x+x+2%}</kbd></p>
</section>

<h2>Concepts</h2>
<p>
    The following is a description of the basic concepts of this library.
</p>

<h3>Process</h3>
<p>
    A {@link io.github.erdos.stencil.Process} instance helps you manage the lifecycle of the converters and the whole document processing process.
    Use the {@link io.github.erdos.stencil.ProcessFactory} to receive Process instances.
</p>

<h3>PreparedTemplate</h3>
<p>
    A raw template document file needs to be preprocessed if we want to use it in our template engine. The preprocessing
    step simplifies the document and prepares the control sequences in it to make it simpler and faster to render the
    final document.
</p>
<p>
    Preparing a template file should take an order of a few dozen milliseconds.
    It may not always be necessary to store the prepared template object.
    Sometimes it is perfectly fine to prepare the template files on the fly when needed.
</p>

<h3>Custom Functions</h3>
<p>
    It is possible to define custom functions on the host code and invoke them from  within the template files.
    Custom functions must implement the {@link io.github.erdos.stencil.functions.Function} interface and be registered
    to the template evaluator engine.
</p>
<p>
    Functions are found by their case-insensitive name so make sure not to override any existing function implementation.
    Functions are variadic, i.e. they accept a variable number of arguments. Handling the correct number and type of
    arguments is the responsibility of the functions implementation. Make your functions as flexible as possible by
    considering proper type and error handling.
</p>

<h2>Example code</h2>

<p>
    This example takes a DOCX from the file system, feeds it some template data and produces a PDF file.
</p>

<p>
  <blockquote>
    <pre>

      // load template data
      TemplateData data = TemplateData.fromMap(...);

      // create a new process object with a local libreoffice installation
      Process process = ProcessFactory.fromLibreOfficeHome("/home/bin/libreoffice");
      // optionalyy, register custom functions here: process.registerFunctions(fun1, fun2, fun3, ...);

      // we start the service
      process.start();

      // call rendering process all in one.
      process.render(new File("template_file.docx"), data, new File("output_file.pdf"));

      // we stop the service.
      process.stop();
    </pre>
  </blockquote>
</p>
</body>
</html>
